atFrameWork2/atFrameWork2/obj/
atFrameWork2/atFrameWork2/bin/Debug/netcoreapp3.1/atFrameWork2.deps.json
atFrameWork2/.vs/atFrameWork2/DesignTimeBuild/.dtbcache.v2
atFrameWork2/atFrameWork2/bin/Debug/netcoreapp3.1/atFrameWork2.runtimeconfig.dev.json
atFrameWork2/atFrameWork2/bin/
